<html>
    <head>
        <title>Kat's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Kat's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Well, here it is. You've found it. Kat's very first post on her very first website. Congratulations.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Day 2: Claudia seems to think we need to stop drinking. This is disconcerting to me.</p>
        </div>
    </body>
</html>